body {
    font-family: source_sans_pro_regular,"Source Sans Pro",Arial,sans-serif;
    color: #036;
}

header {
    padding: 15px;
    background-color: #036;
    color: white;
}

img {
    padding-left: 25px;
}

h1 {
    float: right;
    padding-right: 100px;
}

#qSet {
    padding-left: 25px;
}

#question {
    font-weight: bold;
}

#landing {
    width: 99%;
    color: #036;
    text-align: center;
}
.answer0{
    color: #4CAF50; /* Green */
}

.wrong {
    color: red;
}
#results {
    width: 100%;
    color: #036;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #036;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 90%;
    margin: 10px;
    text-align: center;
    line-height: 1.2em;
    font-size: 1em;
}

#button {
    margin-left: 25%;
    width: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 25px;
}

footer {
    width: 100%;
    text-align: center;
}